# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Compressed files
*.zip

# Virtual environment
.venv/
venv/
env/

# FastAPI and dependencies
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest / cache
.pytest_cache/
.cache/

# Build / dist
build/
dist/
*.egg-info/

# If you only want to ignore venv inside Backend folder
Backend/.venv/
Backend/*.zip
Backend/.env